
	<h1>AngularJS - Master Detail view</h1>
	<br />
	<div id="divMasterDetailWrapper" ng-controller='JourneyMasterDetailCtrl'
		style="position: relative;">
		<div style="left: -30px; top: -1px; position: absolute;">
			<img src="Images/tabAngularJS.png" />
		</div>
		<div id="divMasterView">
			<div id="addJourney" style="...">
				<h2>Add a step</h2>
				<form>
					<input type="text" name="name" ng-model="journeyName"/>
					<input type="text" name="description" ng-model="journeyDescription"/>
					<input type="button" name="Submit" value="Add a journey" ng-click="createJourney()"/>
				</form>
			</div>
			<div id="{{journey.journeyid}}" class="cssOneJourneyRecord"
				ng-class="{cssJourneySelectedRecord: Journey.JourneyId == selectedJourney}"
				ng-repeat='Journey in listOfJourneys'
				ng-click="selectJourney(Journey);">
				<div class="cssJourneyName">{{Journey.name}}</div>
				<img src='Images/icnOffice.png'
					title="This is a tooltip for the company: {{Journey.JourneyName}}"
					class="cssCustomerIcon" />
			</div>
		</div>
		<div id="divDetailView">
			<div id="addStep" style="...">
				<h2>Add a step</h2>
				<form>
					<input type="text" name="name" ng-model="stepName"/>
					<input type="text" name="description" ng-model="stepDescription"/>
					<input type="button" name="Submit" value="Add a step" ng-click="createStep()"/>
				</form>
			</div>

			<div id="Step_{{Step['@id']}}" ng-repeat="Step in listOfSteps"
				class="cssOneOrderRecord">
				<div class="cssOneOrderHeader">
					<div class="cssOrderID">Step # {{Step.name}}</div>
					<div class="cssOrderDate">Step Desc: {{Step.description}}</div>
				</div>
			</div>

		</div>
	</div>

